<%= form_for @profile, :builder => BootstrapFormBuilder do |form| %>
	<fieldset class="devise">
		<legend>Profile</legend>
		
		
	  <%= form.error_messages %>
		
		<dl>
			
		<%#= form.build_row form.label(:last_name), form.text_field(:last_name) %>
		
		<%= fields_for @profile.user do |user_fields| %>
	
			<%#= debug user_fields.class.name %>
			<%#= debug form.class.name %>
			
			<dt><%= user_fields.label(:first_name)%></dt>
			<dd><%= user_fields.text_field(:first_name) %></dd>
			
			<dt><%= user_fields.label(:last_name) %></dt>
			<dd><%= user_fields.text_field(:last_name) %></dd>
			
			<dt><%= user_fields.label(:email, "Login" )%></dt>
			<dd><%= user_fields.text_field(:email) %></dd>
			<%#= user_fields.build_row user_fields.label(:first_name), user_fields.text_field(:first_name) %>
		<% end %>
		</dl>
		
		<dl>Email Address(es)
		<% @profile.email_addresses.each do |email_address|%>
			<%= fields_for "email_address[]", email_address do |email_address_form| %>
				<dt><%= email_address_form.label(:value, "Address")%></dt>
				<dd><%= email_address_form.text_field(:value) %></dd>
			<% end %>
		<% end %>
		
		<%= fields_for :user do |user_fields| %>
			<%#= user_fields.build_row user_fields.label(:first_name), user_fields.text_field(:first_name) %>
			<%#= form.build_row user_fields.label(:last_name), user_fields.text_field(:last_name) %>
			<%#= form.build_row user_fields.label(:email), user_fields.text_field(:email) %>
		<% end %>
		
		
		
		</dl>
		<dl>Social Media
			<dt><label>Twitter</label></dt>
			<dd><%= image_tag "signin_twitter.png" %></dd>
			<dt><label>Facebook</label></dt>
			<dd><%= image_tag "facebook-connect-logo.jpeg"%></dd>
		</dl>
		
		<%= form.build_row nil, "<button class=\"btn success\">Save Changes</button>" %>
	</fieldset>
<% end %>