<%= form_for @star, :builder => BootstrapFormBuilder do |form| %>
	<fieldset class="devise">
		<legend>Send A Star</legend>
	  <%= form.error_messages %>
	
		<% unless user_signed_in? %>
			<%= form.build_row form.label(:poster, "Sender"), form.text_field(:poster) %>
		<% end %>
		<%= form.build_row form.label(:recipient), form.text_field(:recipient) %>
		<%= form.build_row form.label(:description), form.text_field(:description) %>
		<%= form.build_row nil, "<button class=\"btn success\">Send #{gold_star}</button>" %>
	</fieldset>
<% end %>