<div class="topbar">
      <div class="fill">
    <div class="container">
      <h3>
				<a href="/"><span style="color:gold">&#9733;&#9734;</span>GoldSt.ar</a>
			</h3>
      <ul>
				<li><%= link_to "Send A Star", new_star_path %></li>
				<li><%= link_to "Leaderboards", leaderboard_path %></li>
        <% unless user_signed_in? %>
					<li><%= link_to "Tour", "#" %></li>
					<li><%= link_to "Pricing", "/pricing" %></li>
				<% end %>
				<% if user_signed_in? %>
					<li><%= link_to 'Profile', profile_path %></li>
					<li><%= link_to 'Logout', destroy_user_session_path %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Login", 	 new_user_session_path %></li>
				<% end %>
				<li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</div>