<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:builder => BootstrapFormBuilder) do |f| %>
	<fieldset class="devise">
		<legend>Sign in</legend>
		<%= f.build_row f.label( :email), f.text_field( :email) %>
		<%= f.build_row f.label( :password), f.password_field(:password) %>
	  <% if devise_mapping.rememberable? -%>
	    <%= f.build_row f.label(:remember_me), f.check_box(:remember_me) %>
	  <% end -%>
		<%= f.build_row nil, '<button class="btn success">Sign in</button>' %>		
	</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>