<!DOCTYPE html>
<html>
<head>
  <title>GoldSt.ar</title>
	<link rel="icon" type="image/gif" href="/images/star_icon.gif" />
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%#= debug "now #{request.fullpath}"%>
	<%#= debug "before #{request.referer}"%>
	<%= render :partial=>"shared/nav" %>
	<%= render :partial=>"shared/flash_messages" %>
	<%= yield %>
</body>
</html>
